._2h{
    background-image: url(../cards/2_hearts.png);
}
._3h{
    background-image: url(../cards/3_hearts.png);
}
._4h{
    background-image: url(../cards/4_hearts.png);
}
._5h{
    background-image: url(../cards/5_hearts.png);
}
._6h{
    background-image: url(../cards/6_hearts.png);
}
._7h{
    background-image: url(../cards/7_hearts.png);
}
._8h{
    background-image: url(../cards/8_hearts.png);
}
._9h{
    background-image: url(../cards/9_hearts.png);
}
._10h{
    background-image: url(../cards/10_hearts.png);
}
._Ah{
    background-image: url(../cards/A_hearts.png);
}
._Jh{
    background-image: url(../cards/J_hearts.png);
}
._Qh{
    background-image: url(../cards/Q_hearts.png);
}
._Kh{
    background-image: url(../cards/K_hearts.png);
}

._2s{
    background-image: url(../cards/2_spades.png);
}
._3s{
    background-image: url(../cards/3_spades.png);
}
._4s{
    background-image: url(../cards/4_spades.png);
}
._5s{
    background-image: url(../cards/5_spades.png);
}
._6s{
    background-image: url(../cards/6_spades.png);
}
._7s{
    background-image: url(../cards/7_spades.png);
}
._8s{
    background-image: url(../cards/8_spades.png);
}
._9s{
    background-image: url(../cards/9_spades.png);
}
._10s{
    background-image: url(../cards/10_spades.png);
}
._As{
    background-image: url(../cards/A_spades.png);
}
._Js{
    background-image: url(../cards/J_spades.png);
}
._Qs{
    background-image: url(../cards/Q_spades.png);
}
._Ks{
    background-image: url(../cards/K_spades.png);
}

._2c{
    background-image: url(../cards/2_clubs.png);
}
._3c{
    background-image: url(../cards/3_clubs.png);
}
._4c{
    background-image: url(../cards/4_clubs.png);
}
._5c{
    background-image: url(../cards/5_clubs.png);
}
._6c{
    background-image: url(../cards/6_clubs.png);
}
._7c{
    background-image: url(../cards/7_clubs.png);
}
._8c{
    background-image: url(../cards/8_clubs.png);
}
._9c{
    background-image: url(../cards/9_clubs.png);
}
._10c{
    background-image: url(../cards/10_clubs.png);
}
._Ac{
    background-image: url(../cards/A_clubs.png);
}
._Jc{
    background-image: url(../cards/J_clubs.png);
}
._Qc{
    background-image: url(../cards/Q_clubs.png);
}
._Kc{
    background-image: url(../cards/K_clubs.png);
}

._2d{
    background-image: url(../cards/2_diamonds.png);
}
._3d{
    background-image: url(../cards/3_diamonds.png);
}
._4d{
    background-image: url(../cards/4_diamonds.png);
}
._5d{
    background-image: url(../cards/5_diamonds.png);
}
._6d{
    background-image: url(../cards/6_diamonds.png);
}
._7d{
    background-image: url(../cards/7_diamonds.png);
}
._8d{
    background-image: url(../cards/8_diamonds.png);
}
._9d{
    background-image: url(../cards/9_diamonds.png);
}
._10d{
    background-image: url(../cards/10_diamonds.png);
}
._Ad{
    background-image: url(../cards/A_diamonds.png);
}
._Jd{
    background-image: url(../cards/J_diamonds.png);
}
._Qd{
    background-image: url(../cards/Q_diamonds.png);
}
._Kd{
    background-image: url(../cards/K_diamonds.png);
}

._back{
    background-image: url(../cards/backdesign_2.png);
}
._back2{
    background-image: url(../cards/backdesign_1.png);
}