
.pocker-desc {
  position: relative;
  width: 80%;
  height: 65%;
  max-width: 1000px;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%) scale(1);
}

.leather {
  width: 100%;
  height: 100%;
  padding: 6px;
  border-radius: 1000px;
  box-shadow:0 0 10px #000;
  border-left: 10px solid#293242;
  border-right: 10px solid#293242;
  border-bottom: 5px solid#293242;
  border-top: 5px solid#293242;
  box-sizing: border-box;
}
.mini-table .leather {
  box-shadow:0 0 5px #000;
  border-left: 5px solid#293242;
  border-right: 5px solid#293242;
  border-bottom: 2px solid#293242;
  border-top: 2px solid#293242;
}
.wood {
  width: 100%;
  height: 100%;
  padding: 2%;
  border-radius: 1000px;
  border-left: 20px solid#b37e43;
  border-right: 20px solid#b37e43;
  border-bottom: 7px solid#a37138;
  border-top: 7px solid#a37138;
  box-sizing: border-box;
  position: relative;
}
.mini-table .wood {
  border-left: 10px solid#b37e43;
  border-right: 10px solid#b37e43;
  border-bottom: 3px solid#a37138;
  border-top: 3px solid#a37138;
}
.wood .positions{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wood .top{
  width: 100%;
  height: 100px;
  top: -77px;
  left: 0;
  right: 0;
  flex-direction: row-reverse;
}
.wood .bottom{
  width: 100%;
  height: 100px;
  bottom: -77px;
  left: 0;
  right: 0;
}
.wood .right{
  height: 100%;
  width: 100px;
  right: -135px;
  top: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: space-around;
}
.mobile .wood .right{
  right: 7px;
}
.wood.p9 .right{
  right: -115px;
}
.mini-table .wood .right{
  right: -25px;
}
.wood .left{
  height: 100%;
  width: 100px;
  left: -135px;
  top: 0;
  bottom: 0;
  flex-direction: column-reverse;
  justify-content: space-around;
}
.mobile .wood .left{
  left: 7px;
}
.wood.p9 .left{
  left: -115px;
}
.mini-table .wood .left{
  left: -25px;
}
.board {
  width: 100%;
  height: 100%;
  box-shadow: 
    inset 0 0 200px black,
    inset 0 3px 0 rgba(0, 0, 0, 0.5),
    0 0 20px rgba(0, 0, 0, 0.6),
   1px 1px black;
  border-radius: 1000px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.board-line {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:-70px;
  margin-bottom: 40px;
}
.bet-value{
  background: linear-gradient(0deg,#b51010 0%, #f9bd0a 100%);
  padding: 2px 5px;
  border-radius: 8px;
  min-width: 50px;
  text-align: center;
}

.board-cards {
  padding: 8px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

@keyframes cardshowing {
  from {
    opacity: 0;
    transform: translateY(-150%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card {
  width: 57px;
  height: 80px;
  border-radius: 3px;
  background-color:rgba(0,0,0,.2);
  box-sizing: border-box;
  margin: 0 3px;
  background-size: cover;
  box-shadow: -1px 0px 8px #555;
}

.hand{
  width: 45px;
  height: 64px;
}
.t-back .my-hand{
  width: 36px;
  height: 50px;
}
.card.anim{
  animation: cardshowing 0.2s linear;
  animation-fill-mode: both;
  opacity: 0;
}
.hand-card{
  z-index: -1;
  position: absolute;
  display: flex;
  flex-direction: row;
}

.hand-card.c2>div:first-child{
  transform: rotate(-10deg) translateX(5px);
}
.hand-card.c2>div:last-child{
  transform: rotate(10deg) translateX(-5px);
}

.hand-card.t-back.c2>div:first-child{
  z-index: 0;
  transform: rotate(-10deg) translateX(5px);
}
.hand-card.t-back.c2>div:last-child{
  z-index: -2;
  transform: rotate(10deg) translateX(-13px) translateY(8px);
}

.hand-card.c4>div:nth-child(1){
  transform: rotate(10deg) translateX(34px);
}
.hand-card.c4>div:nth-child(2){
  transform: rotate(2deg) translateX(11px) translateX(-2px) translateY(9px);
}
.hand-card.c4>div:nth-child(3){
  transform: rotate(-2deg) translateX(6px) translateX(-19px) translateY(9px);
}
.hand-card.c4>div:nth-child(4){
  transform: rotate(-10deg) translateX(-21px) translateX(-12px) translateY(0px);
}

.ref .card { animation: none; }


.c1 { animation-delay: 0s; }
.c2 { animation-delay: 0.1s; }
.c3 { animation-delay: 0.2s; }
.c4 { animation-delay: 0.3s; }
.c5 { animation-delay: 0.4s; }
.c6 { animation-delay: 1.5s; }
.c7 { animation-delay: 1.6s; }
.c8 { animation-delay: 1.7s; }
.c9 { animation-delay: 1.8s; }


.bet-chip {
  width: 20px;
  height: 20px;
}
.ltr .bet-chip {
  margin-left: -4px;
}
.rtl .bet-chip {
  margin-right: -4px;
}
.btn-grad {background-image: linear-gradient(to right, #6441A5 0%, #2a0845 51%, #6441A5 100%)}
.btn-grad:hover { background-position: right center; } 

.milf{
  margin-top: -50px;
  width: 150px;
}

@media only screen and (max-width: 950px) {
  .pocker-desc {
    width: 70%;
    height: 70%;
    top: 50%;
    left: 55%;
  }
  .milf{
    margin-top: -15px;
    width: 100px;
  }
}